<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"    content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author"      content="">

<meta property="og:url"         content="{{.AbsSiteLink}}{{.FwdPageLink}}{{.RelPageLink}}" />
<meta property="og:type"        content="article" />
<meta property="og:title"       content="{{.PageTitle}}" />
{{If.Description }}<meta property="og:description" content="{{.Description}}" />{{Endif}}
{{If.RelImageLink}}<meta property="og:image"       content="{{.AbsSiteLink}}{{.FwdPageLink}}{{.RelImageLink}}" />{{Endif}}

<meta name="twitter:card"        content="summary" />
<!-- meta name="twitter:site"    content="@flickr" / -->
<meta name="twitter:title"       content="{{.PageTitle}}" />
{{If.Description }}<meta name="twitter:description" content="{{.Description}}" />{{Endif}}
{{If.RelImageLink}}<meta name="twitter:image"       content="{{.AbsSiteLink}}{{.FwdPageLink}}{{.RelImageLink}}" />{{Endif}}

<title>{{.PageTitle}}</title>

<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5c66171070e9220011ed1c61&product=inline-share-buttons" async="async"></script>

<!-- Custom styles for this template -->
<style type="text/css">
body {
    font-family: sans-serif;
    margin: 0;
}

.main {
    margin: 8px;
}

p, span {
    line-height: 1.2;
    text-align: justify;
}

p.console {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 95%;
}

@media screen and (min-width: 600px) {
    .container {
        max-width: 60rem;
    }
}

.center-horiz {
    margin: auto;
}

.no-margin-container {
}

/* Header + Title */
.blog-header {
  margin-bottom: 3rem;
  background-color: #428bca;
  box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

{{If.RelBannerLink}}
.banner-bg-image {
    height: 50px;
    background-image: url("{{.RevSiteLink}}{{.RelBannerLink}}");
    background-position: center;
    background-size: 100% auto;
}

@media screen and (min-width: 600px) {
    .banner-bg-image {
        height: 200px;
    }
}
{{Endif}}

.title-container {
    color: #fff;
    padding: 1rem;
    line-height: 1.5;
    font-weight: 500;
    font-size: 24px;
    font-family: sans-serif;
}

.title-container a {
    color: #fff;
    text-decoration: none;
}

.bottom-container {
    margin-top: 8px;
    color: #fff;
    background-color: #428bca;
    font-family: sans-serif;
    text-align: center;
    font-size: small;
    line-height: 1rem;
}

@media screen and (min-width: 600px) {
    .bottom-container {
        font-size: x-small;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    font-weight: bold;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

td p {
    margin: 0;
}

{{.Css}}
</style>
</head>

<body>

<header class="blog-header">
{{If.RelBannerLink}}
    <div class="no-margin-container banner-bg-image text-hide">
        Site Banner Image
    </div>
{{Endif}}
    <div class="title-container">
        <a href="{{.AbsSiteLink}}">{{.SiteTitle}}</a>
        {{If.PageTitle != .SiteTitle}}
        /
        <a href="{{.RelPageLink}}">{{.PageTitle}}</a>
        {{Endif}}
    </div>
</header>

<main role="main">
<div class="main">
<div class="container center-horiz">

{{.Content}}

</div>
</div>
</main>

<div class="sharethis-inline-share-buttons"></div>

<div class="bottom-container">&nbsp;{{.GenInfo}}&nbsp;</div>

<script async src="https://www.googletagmanager.com/gtag/js?id={{.GAUid}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{.GAUid}}');
</script>

</body>
</html>

