<div class="post-container">
<div class="post-title-container">
{{If.RelPostFullLink}}<a class="post-title-link" href="{{.RelPostFullLink}}">{{Endif}}
    <h2 class="post-title">{{.PostDate}} - {{.PostTitle}}</h2>
{{If.RelPostFullLink}}</a>{{Endif}}
<span class="post-cat" title="Category">
    <span class="post-cat-label">Category</span>
    <span class="post-cat-text">
    {{If!.RelPostCatLink}}{{.PostCategory}}{{Endif}}
    {{If.RelPostCatLink}}<a class="post-cat-link" href="{{.RevSiteLink}}{{.RelPostCatLink}}" title="View All Category Posts">{{.PostCategory}}</a>{{Endif}}
    </span>
</span></div>

{{.Content}}

{{If.RelPostExtraLink}}<a href="{{.RelPostExtraLink}}">Click here to continue reading...</a>
<p/>
<hr/>{{Endif}}
</div>
